article {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

table {
    border: 1px solid black;
}

tr, td, th {
    border: 1px solid black;
}

figure {
    float: right;
    margin: 10px 10px 10px 10px;
}

/*
+Контент занимает 70% ширины страницы.
+Контент выровнен по середине.
+Заголовки всех уровней выполнены шрифтом без засечек.
+Верхний отступ заголовков установлен больше нижнего (например, 1.5em), чтобы соблюсти правило внутреннего и внешнего.
+Заголовки первого уровня имеют размер 32px.
+Таблицы имеют непрерывные границы чёрного цвета толщиной 1px.
+Подписи под картинками выполены курсивом.
-Картинки обтекаются текстом. Картинки справа, текст слева.
*/